.wysiwyg-color-c1 {
  color: #c11c1c;
}
.wysiwyg-color-c2 {
  color: #f0d2ff;
}
.wysiwyg-color-c3 {
  color: #3dd;
}
.wysiwyg-color-c4 {
  color: #dd00ff;
}
.wysiwyg-color-c5 {
  color: #fd0000;
}
.wysiwyg-color-c6 {
  color: #00ffdd;
}
.wysiwyg-color-c7 {
  color: #ff00ff;
}
.wysiwyg-color-c8 {
  color: #0808ff;
}
.wysiwyg-color-c9 {
  color: #a9b9c9;
}
.wysiwyg-color-c10 {
  color: #ab1;
}
.wysiwyg-color-c11 {
  color: #ababab;
}
